@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
	color: #fff;
  }
}

@layer components {
	.checkbox {
		@apply relative
		border-[0.063rem]
		w-[1.6rem]
		h-[1.6rem]
		rounded-full
		appearance-none  
		border-light-VeryLightGrayishBlue
		dark:border-dark-VeryDarkGrayishBlue2

		checked:border-0 checked:after:opacity-100 checked:bg-gradient

		shrink-0
		cursor-pointer;
	}

	.checkbox:not(:checked):hover {
		@apply border-transparent
		bg-gradient-light
		clip-padding-border
		dark:bg-gradient-dark;
  		
	}

	.checkbox::after {
		@apply content-[''] absolute left-0 top-0 w-full h-full bg-no-repeat bg-center opacity-0;
		background-image: url("../public/icon-check.svg");
	}

	.filterNav {
		@apply flex flex-row items-center bg-white dark:bg-dark-VeryDarkDesaturatedBlue text-light-DarkGrayishBlue dark:text-dark-DarkGrayishBlue;
	}

	.shadowBlack {
		@apply shadow-black/10 dark:shadow-black/50 shadow-2xl;
	}
}